*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 150%; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

img {
  display: block;
  max-width: 100%; }

html,
body {
  overflow-x: hidden; }

button {
  cursor: pointer; }

.container {
  width: 100%;
  max-width: calc(121.6rem + 1.5rem);
  padding: 0 1.5rem;
  margin: 0 auto; }

@keyframes floatingCard {
  0% {
    transform: translateY(4rem); }
  50% {
    transform: translateY(-2rem); }
  100% {
    transform: translateY(4rem); } }

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(7rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn-primary {
  padding: 1.1rem 5rem;
  background-color: #ffce2e;
  display: inline-block;
  border-radius: 50rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #242424;
  transition: all 0.2s ease-in; }
  .btn-primary:hover {
    background-color: #ffe07c; }

.btn-secondary {
  padding: 1.1rem 5rem;
  background-color: transparent;
  display: inline-block;
  border-radius: 50rem;
  border: 1px solid #fff;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease-in; }
  .btn-secondary:hover {
    background-color: #fff;
    color: #242424; }

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 2rem 0; }
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  header nav {
    margin-left: -20rem; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 4.5rem; }
      header nav ul li a {
        color: #fff; }
        header nav ul li a::after {
          content: "";
          display: inline-block;
          width: 9px;
          height: 7px;
          background: url("../img/arrow-down.svg") no-repeat;
          background-size: cover;
          margin-left: 1rem; }

.s-hero {
  width: 100%;
  height: 70rem;
  background: url("../img/hero-img.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 19.1rem; }
  .s-hero .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start; }
    .s-hero .text h3 {
      margin-bottom: 3.5rem;
      color: rgba(255, 255, 255, 0.7);
      font-family: "Inter";
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 150%; }
      .s-hero .text h3::before {
        content: "Novo";
        display: inline-block;
        background-color: #006d8f;
        color: #fff;
        padding: 0.5rem 1.5rem;
        border-radius: 10rem;
        margin-right: 1.2rem; }
    .s-hero .text h1 {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 5rem;
      line-height: 130%;
      color: #fff;
      margin-bottom: 2.5rem; }
    .s-hero .text p {
      font-family: "Inter";
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 4rem; }

.s-tariffs {
  padding-top: 9.6rem; }
  .s-tariffs .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start; }
  .s-tariffs .text h2 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 4rem;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #242424;
    margin-bottom: 0.8rem; }
  .s-tariffs .text p {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 130%;
    color: #616161;
    margin-bottom: 10rem; }
  .s-tariffs .text .benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: 62.5rem;
    flex-wrap: wrap; }
    .s-tariffs .text .benefits .benefit {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      width: 100%;
      max-width: 25.9rem; }
      .s-tariffs .text .benefits .benefit img {
        margin-bottom: 1.1rem; }
      .s-tariffs .text .benefits .benefit h4 {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 150%;
        color: #242424; }
        .s-tariffs .text .benefits .benefit h4::before {
          content: "";
          display: block;
          background-color: #ffce2e;
          width: 1.5rem;
          height: 0.2rem;
          margin-bottom: 1.6rem; }
      .s-tariffs .text .benefits .benefit p {
        font-family: "Inter";
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        color: #616161; }
  .s-tariffs .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.8rem; }
    .s-tariffs .cards .left-cards,
    .s-tariffs .cards .right-cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1.8rem; }
      .s-tariffs .cards .left-cards img,
      .s-tariffs .cards .right-cards img {
        max-width: 20rem; }
    .s-tariffs .cards .left-cards img:nth-child(1) {
      animation: fadeUp 2s ease-out;
      animation-delay: 1s;
      animation-fill-mode: backwards; }
    .s-tariffs .cards .left-cards img:nth-child(2) {
      animation: fadeUp 2s ease-out;
      animation-delay: 2s;
      animation-fill-mode: backwards; }
    .s-tariffs .cards .left-cards .white-card {
      box-shadow: 2rem 1rem 6rem rgba(36, 36, 36, 0.2); }
    .s-tariffs .cards .right-cards {
      margin-top: -34.7rem; }
      .s-tariffs .cards .right-cards img:nth-child(1) {
        animation: fadeUp 2s ease-out; }
      .s-tariffs .cards .right-cards img:nth-child(2) {
        animation: fadeUp 2s ease-out;
        animation-delay: 2s;
        animation-fill-mode: backwards; }

.s-card {
  background-color: #fafafa;
  padding: 10.9rem 0; }
  .s-card .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8.7rem;
    width: 100%; }
  .s-card .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .s-card .top .title h3 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 4rem;
      line-height: 130%;
      letter-spacing: -0.03em;
      color: #242424; }
    .s-card .top .title p {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 2.8rem;
      line-height: 130%;
      color: #616161; }
    .s-card .top .btns {
      max-width: 59.2rem;
      padding: 0.8rem 1.1rem;
      border: 1px solid rgba(196, 196, 196, 0.6);
      border-radius: 100rem; }
      .s-card .top .btns button {
        transition: all 0.3s ease-out; }
        .s-card .top .btns button:first-child {
          margin-right: 3.3rem; }
      .s-card .top .btns .btn-active {
        padding: 1.8rem 8.5rem;
        background-color: #242424;
        color: #fff;
        border-radius: 100rem;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase; }
      .s-card .top .btns .btn-disabled {
        padding: 1.8rem 5.5rem;
        background-color: transparent;
        color: #616161;
        border-radius: 100rem;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.02em;
        text-transform: uppercase; }
  .s-card .down {
    width: 100%;
    height: 42.4rem;
    background-color: #242424;
    padding-left: 10.3rem;
    padding-right: 7.2rem;
    border-radius: 1.2rem;
    background: url("../img/about-bg.png") no-repeat;
    background-size: cover;
    color: #fff;
    position: relative; }
    .s-card .down .title {
      max-width: 37.1rem;
      margin-top: 9.7rem; }
      .s-card .down .title h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 130%;
        letter-spacing: -0.03em;
        margin-bottom: 1.6rem; }
      .s-card .down .title p {
        margin-bottom: 4.4rem;
        opacity: 0.7;
        font-family: "Inter";
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%; }
    .s-card .down .nfc {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 1.6rem; }
      .s-card .down .nfc p {
        margin: 0; }
    .s-card .down .logo-business {
      position: absolute;
      right: 7.2rem;
      bottom: 5.3rem; }
    .s-card .down .floating-card {
      position: absolute;
      max-width: 43rem;
      right: 21.7rem;
      bottom: 8.6em;
      animation: floatingCard 12s ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate, reverse, normal; }

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 8.8rem; }

footer .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(36, 36, 36, 0.4); }
  footer .columns .col-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
    max-width: 30.6rem; }
    footer .columns .col-one a {
      font-weight: 700;
      color: #242424; }
  footer .columns .col-two {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2.5rem; }
    footer .columns .col-two h4 {
      font-family: "Inter";
      font-weight: 500;
      font-size: 2rem;
      line-height: 78%; }
    footer .columns .col-two ul {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 2.1rem; }
      footer .columns .col-two ul li {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem; }
  footer .columns .col-three h4 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 2rem;
    line-height: 78%;
    margin-bottom: 2.5rem; }
  footer .columns .col-three ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start; }

footer .copy {
  padding: 2.7rem 0; }
