// Floating card
@keyframes floatingCard {
  0% {
    transform: translateY(4rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(4rem);
  }
}

// Fade up
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(7rem);
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}
