// btn-primary
.btn-primary {
  padding: 1.1rem 5rem;
  background-color: $yellow-brand;
  display: inline-block;
  border-radius: 50rem;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $black-brand;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: #ffe07c;
  }
}

.btn-secondary {
  padding: 1.1rem 5rem;
  background-color: transparent;
  display: inline-block;
  border-radius: 50rem;
  border: 1px solid $white-brand;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $white-brand;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: $white-brand;
    color: $black-brand;
  }
}
