.s-hero {
  width: 100%;
  height: 70rem;
  background: url("../img/hero-img.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 19.1rem;

  .text {
    @include flex(column, space-between, start);
    h3 {
      margin-bottom: 3.5rem;
      color: rgba($white-brand, 0.7);
      font-family: "Inter";
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 150%;
      &::before {
        content: "Novo";
        display: inline-block;
        background-color: #006d8f;
        color: $white-brand;
        padding: 0.5rem 1.5rem;
        border-radius: 10rem;
        margin-right: 1.2rem;
      }
    }
    h1 {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 5rem;
      line-height: 130%;
      color: $white-brand;
      margin-bottom: 2.5rem;
    }
    p {
      font-family: "Inter";
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;
      color: rgba($white-brand, 0.7);
      margin-bottom: 4rem;
    }
  }
}

.s-tariffs {
  padding-top: 9.6rem;
  .container {
    @include flex(row, space-between, start);
  }

  .text {
    h2 {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 4rem;
      line-height: 130%;
      letter-spacing: -0.03em;
      color: $black-brand;
      margin-bottom: 0.8rem;
    }
    p {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 2.8rem;
      line-height: 130%;
      color: $gray-brand;
      margin-bottom: 10rem;
    }

    .benefits {
      @include flex(row, space-between, start);
      width: 100%;
      max-width: 62.5rem;
      flex-wrap: wrap;

      .benefit {
        @include flex(column, space-between, start);
        width: 100%;
        max-width: 25.9rem;
        img {
          margin-bottom: 1.1rem;
        }
        h4 {
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 150%;
          color: $black-brand;

          &::before {
            content: "";
            display: block;
            background-color: $yellow-brand;
            width: 1.5rem;
            height: 0.2rem;
            margin-bottom: 1.6rem;
          }
        }
        p {
          font-family: "Inter";
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 150%;
          color: $gray-brand;
        }
      }
    }
  }

  .cards {
    @include flex(row, space-between, center);
    gap: 2.8rem;

    .left-cards,
    .right-cards {
      @include flex(column, space-between, center);
      gap: 1.8rem;
      img {
        max-width: 20rem;
      }
    }
    .left-cards {
      .white-card {
        box-shadow: 2rem 1rem 6rem rgba($black-brand, 0.2);
      }
    }
    .right-cards {
      margin-top: -34.7rem;
    }
  }
}

.s-card {
  background-color: #fafafa;
  padding: 10.9rem 0;
  .container {
    @include flex(column, start, start);
    gap: 8.7rem;
    width: 100%;
  }

  .top {
    @include flex(row, space-between, center);
    width: 100%;
    .title {
      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 4rem;
        line-height: 130%;
        letter-spacing: -0.03em;
        color: $black-brand;
      }
      p {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 130%;
        color: $gray-brand;
      }
    }

    .for-u-btns {
      max-width: 59.2rem;
      padding: 0.8rem 1.1rem;
      border: 1px solid rgba(#c4c4c4, 0.6);
      border-radius: 100rem;
      button {
        &:first-child {
          margin-right: 3.3rem;
        }
      }
      .btn-active {
        padding: 1.8rem 8.5rem;
        background-color: $black-brand;
        color: $white-brand;
        border-radius: 100rem;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
      .btn-disabled {
        padding: 1.8rem 5.5rem;
        background-color: transparent;
        color: $gray-brand;
        border-radius: 100rem;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
    }
  }

  .down {
    width: 100%;
    height: 42.4rem;
    background-color: $black-brand;
    padding-left: 10.3rem;
    padding-right: 7.2rem;
    border-radius: 1.2rem;
    background: url("../img/about-bg.png") no-repeat;
    background-size: cover;
    color: $white-brand;
    position: relative;

    .title {
      max-width: 37.1rem;
      margin-top: 9.7rem;
      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 130%;
        letter-spacing: -0.03em;
        margin-bottom: 1.6rem;
      }
      p {
        margin-bottom: 4.4rem;
        opacity: 0.7;
        font-family: "Inter";
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
      }
    }
    .nfc {
      @include flex(row, start, center);
      gap: 1.6rem;
      p {
        margin: 0;
      }
    }
    .logo-business {
      position: absolute;
      right: 7.2rem;
      bottom: 5.3rem;
    }
    .floating-card {
      position: absolute;
      max-width: 43rem;
      right: 21.7rem;
      bottom: 8.6em;
    }
  }
}

footer {
  .container {
    @include flex(column, space-between, center);
  }
  .columns {
    @include flex(row, space-between, start);
    width: 100%;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba($black-brand, 0.4);

    .col-one {
      @include flex(column, space-between, start);
      gap: 3rem;
      max-width: 30.6rem;
      a {
        font-weight: 700;
        color: $black-brand;
      }
    }

    .col-two {
      @include flex(column, start, start);
      gap: 2.5rem;

      h4 {
        font-family: "Inter";
        font-weight: 500;
        font-size: 2rem;
        line-height: 78%;
      }
      ul {
        @include flex(column, start, start);
        gap: 2.1rem;

        li {
          @include flex(row, start, center);
          gap: 1rem;
        }
      }
    }

    .col-three {
      h4 {
        font-family: "Inter";
        font-weight: 500;
        font-size: 2rem;
        line-height: 78%;
        margin-bottom: 2.5rem;
      }
      ul {
        @include flex(row, space-between, start);
      }
    }
  }
  .copy {
    padding: 2.7rem 0;
  }
}
